:root {
  --primary-color: #ffffff;
  --primary-teks-color: #212121;
  --secondary-teks-color: #757575;
  --background-color-hero: #c4c4c4;
  --hero-footer-color: #2f303a;
  --hero-btn-color: #188ce8;
  --hero-logo-color: #000000;
  --akcent-color: #2196f3;
  --auth-nav-color: rgba(255, 255, 255, 0.6);
  --button-color-nav: #f5f4fa;
  --border-heder-portfolio: #ececec;
  --border-project-item: #eeeeee;
  --border-client-icon: #afb1b8;
  --background-hero-image: rgba(47, 48, 58, 0.4);
  --box-shadow-section-avatar-one: rgba(0, 0, 0, 0.12);
  --box-shadow-section-avatar-two: rgba(0, 0, 0, 0.14);
  --box-shadow-section-avatar-three: rgba(0, 0, 0, 0.2);
  --box-shadow-radio-btn-one: rgba(0, 0, 0, 0.1);
  --box-shadow-radio-btn-two: rgba(0, 0, 0, 0.08);
  --box-shadow-radio-btn-three: rgba(0, 0, 0, 0.12);
  --box-shadow-project-item-one: rgba(0, 0, 0, 0.12);
  --box-shadow-project-item-two: rgba(0, 0, 0, 0.06);
  --box-shadow-project-item-three: rgba(0, 0, 0, 0.16);
  --background-footer-media: rgba(255, 255, 255, 0.1);
  --background-overlay-text: rgba(33, 150, 243, 0.9);
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --border-footer-subscribe-btn: rgba(255, 255, 255, 0.3);
  --drop-shadop-footer-subscribe-btn: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

/* Body */
body {
  color: var(--primary-teks-color);
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
/* Utility */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0px;
  padding-left: 0;
  list-style: none;
}

/* Visuali Hidden */
.visuali-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}

/* Container */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Шапка */
/* Header  and footer logo */

/* Main-nav */

.main-nav {
  display: flex;
  align-items: center;
}

/* Header logo */
.header {
  border-bottom: 1px solid var(--border-heder-portfolio);
}
.header-logo,
.logo-footer,
.header-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header-logo {
  color: var(--hero-logo-color);
}
.logo-footer {
  color: var(--primary-color);
}

.header-title {
  margin-right: 93px;

  color: var(--akcent-color);
}

/* Header nav  */
.header-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;

  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.header-nav .current {
  position: relative;

  color: var(--akcent-color);
}
.header-item .current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--akcent-color);
  border-radius: 2px;
}

.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--akcent-color);
}

.header-item {
  display: block;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-teks-color);
  text-decoration: none;

  transition: var(--duration) var(--timing-function);
}

/* Header auth */
.header-auth-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;

  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.header-auth-item:not(:last-child) {
  margin-right: 50px;
}
.header-auth-item {
  display: block;
}

.auth-item {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  fill: currentColor;

  color: var(--secondary-teks-color);
  text-decoration: none;

  transition: var(--duration) var(--timing-function);
}

.auth-item:hover,
.auth-item:focus {
  color: var(--akcent-color);
}
.icon-phone {
  margin-right: 10px;
}

.icon-phone:hover,
:focus {
  fill: var(--akcent-color);
}

.icon-mailo:hover,
:focus {
  fill: var(--akcent-color);
}

/* Hero */
/* Hero title*/
/* Overlay */
.img-hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(var(--background-hero-image), var(--background-hero-image)),
    url('../images/imghero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-hero {
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--background-color-hero);
  align-items: center;
  text-align: center;
}

.hero-title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

/* Hero button */
/*Data-modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transform: scale(1);
  transition: opacity var(--duration) var(--timing-function),
    visibility var(--duration) var(--timing-function),
    transform var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  border-radius: 4px;

  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration) var(--timing-function);
}

.is-hidden-modal {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background-color: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transform: scale(1);
}
.icon-close-modal {
  transition: var(--duration) var(--timing-function);
}

.modal .is-hidden-modal:hover,
.modal .is-hidden-modal:focus {
  fill: var(--akcent-color);
}

.hero-btm {
  position: relative;
  height: 50px;
  min-width: 216px;

  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--primary-color);
  background-color: var(--akcent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: var(--duration) var(--timing-function);
}

.hero-btm:hover,
.hero-btm:focus {
  background-color: var(--hero-btn-color);
}

/* Sections features */

.section-features {
  padding-top: 94px;
}
.section-item-features {
  display: flex;
  gap: 30px;
}

.item-features-icon {
  padding: 25px 100px;
  border-radius: 4px;

  height: 120px;
  margin-bottom: 30px;
  background-color: var(--button-color-nav);
}
.icon-features {
  height: 70px;
  width: 70px;
}

.title-features {
  margin-bottom: 10px;

  color: var(--primary-teks-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-description {
  max-width: 270px;

  color: var(--secondary-teks-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Чим ми займаємося */
/* Наша команда */
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  text-align: center;
}

.team:nth-child(2n) {
  background-color: var(--button-color-nav);
}

.section-title {
  margin-bottom: 50px;
  justify-content: center;

  color: var(--primary-teks-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.section-works {
  display: flex;
}

.item-works {
  position: relative;
  display: block;
  margin-right: 30px;
}

.img-works:nth-child(3n) {
  margin-right: 0;
}
.works-description {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;

  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color);
}

.section-team {
  color: var(--secondary-teks-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.section-item {
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
}
.avatar {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-avatar-color {
  display: block;
  max-width: 100%;
  box-shadow: 0px 1px 3px var(--box-shadow-section-avatar-one),
    0px 1px 1px var(--box-shadow-section-avatar-two),
    0px 2px 1px var(--box-shadow-section-avatar-three);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-color);
}

.section-avatar-color:not(:last-child) {
  margin-right: 30px;
}

.section-avatar {
  margin-bottom: 10px;

  color: var(--primary-teks-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* Links media avatar */

.socials-media-avatars {
  display: flex;
  justify-content: center;
}
.item-media-avatar:not(:last-child) {
  margin-right: 10px;
}

.media-avatar {
  display: block;
  padding: 12px;

  height: 44px;
  border-radius: 50%;
  fill: var(--border-client-icon);
  background-color: var(--primary-color);

  text-decoration: none;

  transition: var(--duration) var(--timing-function);
}

.media-avatar:hover,
.media-avatar:focus {
  fill: var(--primary-color);
  background-color: var(--akcent-color);
}

/* Button nav portfolio */
.section-title-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;

  color: var(--primary-teks-color);
  font-size: 36px;
  line-height: 1.16;
}

.section-item-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-radio-btn {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.radio-item {
  margin-right: 8px;
}
.radio-item:nth-child(5) {
  margin-right: 0;
}

.radio-btn {
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  color: var(--primary-teks-color);
  background-color: var(--button-color-nav);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  transition: var(--duration) var(--timing-function);
}

.radio-btn:hover,
.radio-btn:focus {
  box-shadow: 0px 3px 1px var(--box-shadow-radio-btn-one),
    0px 1px 2px var(--box-shadow-radio-btn-two), 0px 2px 2px var(--box-shadow-radio-btn-three);

  color: var(--primary-color);
  background-color: var(--akcent-color);
}

.project-item {
  display: block;
}
.overlay-port {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-color);
  background-color: var(--background-overlay-text);

  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--duration) var(--timing-function),
    opacity var(--duration) var(--timing-function);
}

.section-item-portfolio .link-project:hover .overlay-text,
.section-item-portfolio .link-project:focus .overlay-text {
  opacity: 1;
  transform: translateY(0);
}
.link-project {
  display: block;

  transition: var(--duration) var(--timing-function);
}
.link-project:hover,
.link-project:focus {
  box-shadow: 0px 1px 1px var(--box-shadow-project-item-one),
    0px 4px 4px var(--box-shadow-project-item-two), 1px 4px 6px var(--box-shadow-project-item-three);
}
.link-project {
  text-decoration: none;
}
.works {
  display: block;
  max-width: 100%;
}

.project-user {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--border-project-item);
  border-right: 1px solid var(--border-project-item);
  border-left: 1px solid var(--border-project-item);
}

.project-title {
  margin-bottom: 4px;

  color: var(--primary-teks-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-description {
  color: var(--secondary-teks-color);
  font-size: 16px;
  line-height: 1.88;
}

/* Section-Customers */
/* Постійні клієнти */

.section-customers {
  display: flex;
}

.item-client:not(:last-child) {
  margin-right: 30px;
}

.icon-client {
  display: flex;
  height: 92px;
  width: 170px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--border-client-icon);
  fill: var(--border-client-icon);

  transition: var(--duration) var(--timing-function);
}
.section-customers .icon-client:hover,
.section-customers .icon-client:focus {
  fill: var(--akcent-color);
  border-color: var(--akcent-color);
}

.icon-company {
  display: block;
  width: 106px;
  height: 60px;
}

/* Footer */
/*  Footer auth*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--hero-footer-color);
}
.footer-title {
  color: var(--akcent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-addres {
  margin-top: 20px;

  font-style: normal;
  font-weight: 400;
}
.footer-addres li {
  margin-bottom: 9px;
}
.footer-addres li:nth-last-child(1) {
  margin-bottom: 0;
}
.blok-logo {
  display: flex;
  align-items: baseline;
}

/* Підпишіться на розсилку */
.social-network {
  margin-left: 70px;
}

.footer-pre-title {
  margin-bottom: 20px;

  color: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer-media {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  gap: 10px;
}

.footer-item-media {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;

  color: var(--primary-color);
  background-color: var(--background-footer-media);
  background-repeat: no-repeat;
  background-position: center;
}
.footer-item-media {
  fill: currentColor;

  transition: var(--duration) var(--timing-function);
}

.footer-item-media:hover,
.footer-item-media:focus {
  border-radius: 50%;

  background-color: var(--akcent-color);
}

.footer-link {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Footer auth */
.footer-auth a {
  color: var(--auth-nav-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  transition: var(--duration) var(--timing-function);
}

.mail-link:hover,
.mail-link:focus {
  color: var(--akcent-color);
}
/* Modal */
.title-modal {
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  margin-right: auto;
  margin-left: auto;
}

.group-modal {
  margin-bottom: 20px;

  text-align: start;
}

.input-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}
.item-group-modal:not(:last-child) {
  margin-bottom: 28px;
}
.item-group-modal .form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  cursor: pointer;
}
.item-group-modal:hover .form-input,
.item-group-modal:focus .form-input {
  border-color: var(--akcent-color);
}
.item-group-modal .label {
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 4px;

  color: var(--secondary-teks-color);
  letter-spacing: 0.01em;
}
.form-input {
  transition: var(--duration) var(--timing-function);
}

.form-input:hover + .icon-name,
.form-input:focus + .icon-name {
  fill: var(--akcent-color);
}

.icon-name {
  position: absolute;
  top: 50%;
  left: 19px;

  transform: translateY(-50%);
  transition: var(--duration) var(--timing-function);
}

.comment textarea {
  height: 120px;
  width: 448px;
  resize: none;
  padding: 16px 12px;
  border-radius: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);

  color: rgba(117, 117, 117, 0.5);

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
  transition: var(--duration) var(--timing-function);
}
.comment textarea:hover,
.comment textarea:focus {
  border-color: var(--akcent-color);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  color: var(--secondary-teks-color);
  font-size: 14px;
  line-height: 1.71;
}

.icon-border {
  opacity: 1;
}

.check {
  opacity: 0;
  transition: var(--duration) var(--timing-function);
}
.checkbox:checked + .icon-checkbox .check {
  opacity: 1;
  fill: var(--primary-color);
}
.checkbox:checked + .icon-checkbox {
  background-color: var(--akcent-color);
  border-radius: 4px;
}

.checkbox:checked + .icon-checkbox > .icon-border {
  opacity: 0;
}
.contract {
  margin-left: 10px;
}

/* .contract-modal::before {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 15px;
  align-items: center;
  outline: 2px solid black;
  border-radius: 2px;
  margin-right: 8px;
}
.checkbox:checked + .contract-modal::before {
  background-color: green;
  outline: none;
}

.icon-checkbox:checked {
  background-color: #188ce8;
} */

/* .contract-modal {
  margin-bottom: 30px;
} */
.link-contract {
  margin-left: 5px;

  text-decoration: none;
  color: var(--akcent-color);
}

.btn-sumbit-modal {
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  padding: 10px 28px;
  margin-right: auto;
  margin-left: auto;

  color: var(--primary-color);
  background-color: var(--akcent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
/* Підпишіться на розсилку */
.footer-subscribe-btn {
  display: flex;

  margin-top: 20px;
  gap: 12px;
}
.subscribe-btn {
  position: relative;
  width: 200px;
}
.footer-subscribe-btn .input-email-footer {
  width: 358px;
  padding: 15px;
  border: 1px solid var(--border-footer-subscribe-btn);
  border-radius: 4px;

  color: var(--primary-color);
  background-color: #2f303a;

  filter: var(--drop-shadop-footer-subscribe-btn);
}
.form-field {
  position: relative;
}
.label-email-footer {
  position: absolute;
  top: 50%;
  left: 16px;

  color: rgba(255, 255, 255, 0.6);

  transform: translateY(-50%);
  transition: var(--duration) var(--timing-function);
}
.input-email-footer:focus + .label-email-footer,
.input-email-footer:not(:placeholder-shown) + .label-email-footer {
  transform: translate(-70px, -10px);
}

.icon-send {
  margin-left: 10px;

  fill: var(--primary-color);

  transform: translateY(25%);
}
